<!--region 中文组词Id-->
<div class="form-group" th:if="${entity!=null}">
  <div class="col-md-2">
    <label>单词类型Id</label>
  </div>
  <div class="col-md-5">
    <input type="hidden" name="tagGroupId" class="form-control"
           th:value="${entity?.tagGroupId}">
    <div th:text="${entity?.tagGroupId}"></div>
  </div>
</div>
<!--endregion-->

<!--region 英语单词拼写 -->
<div class="form-group">
  <div class="col-md-2">
    <label for="tagGroupName">
      <i class="text-danger h3">*</i>标签分组名称：
    </label>
  </div>
  <div class="col-md-5">
    <input id="tagGroupName" class="form-control"
           name="tagGroupName"
           th:value="${entity?.tagGroupName}" size="50" type="text">
  </div>
</div>
<!--endregion-->

<!--region 单词类型备注-->
<div class="form-group">
  <div class="col-md-2"><label for="tagGroupComment">单词类型备注：</label></div>
  <div class="col-md-5">
        <textarea name="tagGroupComment" id="tagGroupComment" class="form-control" cols="30"
                  rows="10" placeholder="请输入单词类型备注"
                  th:text="${entity?.tagGroupComment}"></textarea>
  </div>
</div>
<!--endregion-->