<!--/*@thymesVar id="item" type="com.lingDream.llfEnglish.entity.WordTag"*/-->
<!--region 单词标签Id-->
<div class="form-group" th:if="${entity!=null}">
  <div class="col-md-2">
    <label>单词标签Id</label>
  </div>
  <div class="col-md-5">
    <input type="hidden" name="wordTagId" class="form-control"
           th:value="${entity?.wordTagId}">
    <div th:text="${entity?.wordTagId}"></div>
  </div>
</div>
<!--endregion-->

<!--region 单词标签名称 -->
<div class="form-group">
  <div class="col-md-2">
    <label for="wordTagName">
      <i class="text-danger h3">*</i>单词标签名称：
    </label>
  </div>
  <div class="col-md-5">
    <input id="wordTagName" class="form-control"
           name="wordTagName"
           th:value="${entity?.wordTagName}" type="text">
  </div>
</div>
<!--endregion-->

<!--region 单词标签备注-->
<div class="form-group">
  <div class="col-md-2"><label for="tagComment">单词标签备注：</label></div>
  <div class="col-md-5">
        <textarea name="tagComment" id="tagComment" class="form-control" cols="30"
                  rows="10" placeholder="请输入单词标签备注"
                  th:text="${entity?.tagComment}"></textarea>
  </div>
</div>
<!--endregion-->