<!--region 中文组词Id-->
<div class="form-group" th:if="${entity!=null}">
    <div class="col-md-2">
        <label>中文组词Id</label>
    </div>
    <div class="col-md-5">
        <input type="hidden" name="chineseId" class="form-control"
               th:value="${entity?.chineseId}">
        <div th:text="${entity?.chineseId}"></div>
    </div>
</div>
<!--endregion-->

<!--region 中文组词信息 -->
<div class="form-group">
    <div class="col-md-2">
        <label for="chineseInfo">
            <i class="text-danger h3">*</i>中文组词信息：
        </label>
    </div>
    <div class="col-md-5">
        <input id="chineseInfo" class="form-control"
               name="chineseInfo"
               th:value="${entity?.chineseInfo}" size="50" type="text">
    </div>
</div>
<!--endregion-->

<!--region 中文组词备注-->
<div class="form-group">
    <div class="col-md-2"><label for="chineseComment">中文组词备注：</label></div>
    <div class="col-md-5">
        <textarea name="chineseComment" id="chineseComment" class="form-control" cols="30"
                  rows="10" placeholder="请输入中文组词备注"
                  th:text="${entity?.chineseComment}"></textarea>
    </div>
</div>
<!--endregion-->