<!--/*@thymesVar id="entity" type="com.lingDream.llfEnglish.entity.WordToChinese"*/-->
<!--region 英语单词-->
<div class="form-group">
    <div class="col-md-2">
        <label for="wordSelf"><i class="text-danger h3">*</i>英语单词拼写</label>
    </div>
    <input type="hidden" th:value="${entity?.word?.wordId}" name="wordId" th:if="${entity!=null}">
    <div class="col-md-5">
        <input type="text" name="wordSelf" id="wordSelf" class="form-control"
               th:value="${entity?.word?.wordSelf}">
    </div>
</div>
<!--endregion-->

<!--region 中文组词 -->
<div class="form-group">
    <div class="col-md-2">
        <label for="chineseInfo">
            <i class="text-danger h3">*</i>中文组词信息：
        </label>
    </div>
    <input type="hidden" th:value="${entity?.chinese?.chineseId}" name="chineseId" th:if="${entity!=null}">
    <div class="col-md-5">
        <input id="chineseInfo" class="form-control" name="chineseInfo"
               th:value="${entity?.chinese?.chineseInfo}" size="50" type="text">
    </div>
</div>
<!--endregion-->

<!--region 中英关系备注-->
<div class="form-group">
    <div class="col-md-2"><label for="wordToChineseComment">中英关系备注：</label></div>
    <div class="col-md-5">
        <textarea name="wordToChineseComment" id="wordToChineseComment" class="form-control" cols="30"
                  rows="10" placeholder="请输入中英关系备注"
                  th:text="${entity?.wordToChineseComment}"></textarea>
    </div>
</div>
<!--endregion-->