<!DOCTYPE html>
<html lang="zh-CH" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="admin/adminPublic/links.html"/>
    <title th:text="|${'add'.equals(path)?'新增':'修改'}${title}|"></title>
</head>
<body>
<!--region main 容器-->
<div class="container-fluid">
    <!--region 顶部导航菜单-->
    <nav class="navbar navbar-inverse navbar-fixed-top" th:include="admin/adminPublic/adminHeader.html"></nav>
    <!--endregion-->

    <hr>
    <!--region 内容区域-->

    <div class="row">
        <!--region 左侧导航栏-->
        <div class="col-md-2 sidebar" th:include="admin/adminPublic/adminLeft.html"></div>
        <!--endregion-->

        <!--region 内容显示区域-->
        <div class="col-md-offset-2 col-md-10" style="padding:50px 100px 0">

            <!--region 导航器-->
            <ol class="breadcrumb">
                <li><a th:href="@{/toIndexPage}">首页</a></li>
                <li><a th:href="|@{/}${partAddress}/getPage?thisPage = 1|" th:text="|${title}管理|"></a></li>
                <li class="active" th:text="|${'add'.equals(path)?'新增':'修改'}${title}|"></li>
            </ol>
            <!--endregion-->

            <hr>

            <!--region 表单-->
            <form th:action="|@{/}${partAddress}/${path}|" method="post" class="form-horizontal" role="form">
                <th:block th:include="|admin/${partAddress}_add.html|"/>
                <div class="form-group">
                    <div class="col-md-offset-1 col-md-2">
                        <input value="提交" type="submit" class="btn btn-primary form-control">
                    </div>
                    <div class="col-md-2">
                        <input onClick="history.go(-1)" type="button" class="btn btn-info form-control" value="返回"/>
                    </div>
                </div>
            </form>
            <!--endregion-->
        </div>
        <!--endregion-->
    </div>

    <!--endregion-->

    <!--region 底部信息-->
    <div class="row">
        底
    </div>
</div>
<!--endregion-->
<!--endregion-->
</body>
</html>