<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="admin/adminPublic/links.html"/>
    <title th:text="|${title}管理|"></title>
</head>
<body>
<!--region main 容器-->
<div class="container-fluid">

    <!--region 顶部导航菜单-->
    <nav class="navbar navbar-inverse navbar-fixed-top" th:include="admin/adminPublic/adminHeader.html"></nav>
    <!--endregion-->

    <hr>

    <!--region 内容区域-->

    <div class="row">

        <!--region 左侧导航栏-->
        <div class="col-md-2 sidebar sub-menu col-sm-3" th:include="admin/adminPublic/adminLeft.html"></div>
        <!--endregion-->

        <!--region 内容显示区域-->
        <div class="col-md-offset-2 col-md-10 col-sm-9 col-sm-offset-3" style="padding: 20px">

            <!--region 导航器-->
            <ol class="breadcrumb">
                <li><a th:href="@{/toIndexPage}">首页</a></li>
                <li class="active" th:text="|${title}管理|"></li>
            </ol>
            <!--endregion-->

            <!--region 模糊查询-->
            <!--<div th:if="${showPart}" class="row"
                 th:include="|/admin/${partAddress}/list/search-wrap.html|"></div>-->
            <!--endregion-->

            <br/>

            <!--region 操作菜单-->
            <ul class="breadcrumb">
                <li><a th:href="|@{/}${partAddress}/toInsertPage|" th:text="|新增${title}|"></a></li>
            </ul>
            <!--endregion-->

            <!--region 表格-->
            <table th:include="|admin/${partAddress}_list.html|" class="table table-bordered table-striped table-hover table-condensed text-center"></table>
            <!--endregion-->

            <!--region 分页模型-->
            <div th:include="|admin/adminPublic/adminLimit.html|">
            </div>
            <!--endregion-->

        </div>
        <!--endregion-->
    </div>

<!--endregion-->

   <!--region 底部信息-->
<div class="row">
    <div></div>
</div>
<!--endregion-->

</div>
<!--endregion-->
</body>
</html>
