<!DOCTYPE html>
<html lang="zh-CN" xmlns="http://www.w3.org/1999/html">
    <head>
        <th:block th:replace="admin/adminPublic/links.html"></th:block>
        <link rel="stylesheet" type="text/css" th:href="@{/css/signin.css}"/>
        <title>『酷酷宅小明<个人英语单词数据库系统>』</title>
</head>

<body>

<div class="container">
    <form class="form-signin" th:action="@{/login}" th:method="post">
        <h2 class="form-signin-heading">酷酷宅小明</h2>
        <small>个人英语单词数据库系统</small>
        <p th:text="${result}" style="color: red"></p>

        <label for="accountNumber" class="sr-only">用户名：</label>
        <input type="text" name="accountNumber" id="accountNumber" size="40" placeholder="请输入管理员账号"
               class="form-control" th:value="${manager?.accountNumber}"/>

        <label for="managerPassword" class="sr-only">密码：</label>
        <input type="password" name="managerPassword" class="form-control" placeholder="请输入管理员密码" id="managerPassword" size="40"/>

        <button class="btn btn-lg btn-primary btn-block" type="submit">提交</button>
    </form>

</div>
</body></html>