<!--region 分页-->
<nav aria-label="Page navigation" class="col-md-offset-4 ">
    <ul class="pagination">
        <li th:if="${page.hasPrevious()}">
            <a th:href="|@{/}${limitPath}=1|">
                <span>首页</span>
            </a>
            <a th:href="|@{/}${limitPath}=${page.current - 1}|" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        <li th:each="i:${#numbers.sequence(page.begin,page.end)}">
            <span th:if="${i==page.current}">【[[${i}]]】</span>
            <span th:if="${i!=page.current}">
                <a th:href="|@{/}${limitPath}=${i}|" th:text="${i}"></a>
            </span>
        </li>
        <li th:if="${page.hasNext()}">
            <a aria-label="Next" th:href="|@{/}${limitPath}=${page.current + 1}|"><span aria-hidden="true">&raquo;</span></a>
            <a th:href="|@{/}${limitPath}=${page.pages}|"><span>末页</span></a>
        </li>
        <li>共[[${page.pages}]]页,[[${page.total}]]条记录</li>
        <li class="page_nav_item">到第<input th:value="${page.current}" name="pn" id="pn_input"/>页
            <input id="searchPageBtn" type="button" value="确定"></li>
    </ul>
</nav>
<script type="text/javascript">
    $(function () {
        // 跳到指定的页码
        $("#searchPageBtn").click(function () {
            let pageNo = $("#pn_input").val();
            location.href = "[[|@{/}${limitPath}|]]=" + pageNo.trim();
        });
    });
</script>
<!--endregion-->