<ul class="nav nav-sidebar">
    <li>
        <a th:href="@{/word/getPage?thisPage=1}">英语单词管理</a>
    </li>
    <li><a th:href="@{/chinese/getPage?thisPage=1}">中文组词管理</a>
    </li>
    <li>
        <a th:href="@{/wordToChinese/getPage?thisPage=1}">中英关系管理</a>
    </li>
</ul>
<ul class="nav nav-sidebar">
    <li>
        <a th:href="@{/wordType/getPage?thisPage=1}">单词类型管理</a>
    </li>
    <li>
        <a th:href="@{/wordAndTypeRelation/getPage?thisPage=1}">单词与类型关系管理</a>
    </li>
</ul>
<ul class="nav nav-sidebar">
    <li>
        <a th:href="@{/wordTag/getPage?thisPage=1}">单词标签管理</a>
    </li>
    <li><a th:href="@{/wordAndTagRelation/getPage?thisPage=1}">单词与标签关系管理</a>
    </li>
    <li>
        <a th:href="@{/tagGroup/getPage?thisPage=1}">单词标签组管理</a>
    </li>
</ul>