<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<script th:src="@{/lib/jquery/jquery-3.3.1.js}" type="text/javascript" xmlns:th="http://www.thymeleaf.org"></script>

<link th:href="@{/lib/bootstrap-3.3.7-dist/css/bootstrap.min.css}" type="text/css" rel="stylesheet"
      xmlns:th="http://www.thymeleaf.org"/>
<script th:src="@{/lib/bootstrap-3.3.7-dist/js/bootstrap.min.js}" type="text/javascript"
        xmlns:th="http://www.thymeleaf.org"></script>

<style type="text/css" rel="stylesheet">
    body {
        background-color: rgba(235, 235, 235, 0.70)
    }

    .sidebar {
        overflow-x: hidden;
        overflow-y: auto;
        height: 48rem;
        position: fixed;
        display: block;
        top: 5em
    }
</style>

<script type="text/javascript" xmlns:th="http://www.thymeleaf.org">
    $(function () {
        let text = $("title").text().trim();
        $(".sub-menu li").each(function () {
            let substr = $(this).text().trim();
            if (substr === text) {
                $(this).css("backgroundColor", "rgba(128,145,194,0.53)");
            }
        })
        if ($(window).width() < 774) {
            $(".sidebar").css("position", "static")
        }
    });
</script>
<script type="text/javascript" xmlns:th="http://www.thymeleaf.org">
    function delAjax(JSON) {
        if (confirm("确定要删除吗?")) {
            $.ajax({
                url: "[[|@{/}${partAddress}/delById|]]",
                type: "post",
                data: JSON,
                success: function (data) {
                    alert(data);
                    window.location.reload();
                }
            });
        }
    }
</script>